<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="appFrxSettings" type="Cinchoo.Core.ChoAppFrxSettings, Cinchoo.Core, Version=1.0.9.5, Culture=neutral, PublicKeyToken=b7dacd80ff3e33de" />
	</configSections>
	<appFrxSettings appEnvironment="" appFrxFilePath="" applicationHostType="" disableAppConfig="true" disableFrxConfig="true" disableMetaDataConfig="true" />
	<system.diagnostics>
		<switches>
			<add name="ChoSwitch" value="0" />
		</switches>
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
